@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;500;600;700&family=Noto+Serif+Bengali:wght@400;500;600;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", ui-serif, Georgia, serif;
  --font-bengali: "Hind Siliguri", "Noto Serif Bengali", sans-serif;
  
  --color-maroon-50: #fbf3f4;
  --color-maroon-100: #f5e4e5;
  --color-maroon-200: #eccbcb;
  --color-maroon-300: #dda4a5;
  --color-maroon-400: #ca7678;
  --color-maroon-500: #b14e51;
  --color-maroon-600: #98383b;
  --color-maroon-700: #802c2e;
  --color-maroon-800: #662526;
  --color-maroon-900: #572021;
  --color-maroon-950: #301011;
  
  --color-gold-50: #fefcf3;
  --color-gold-100: #faf6df;
  --color-gold-200: #f3e9b8;
  --color-gold-300: #ead684;
  --color-gold-400: #dfbe53;
  --color-gold-500: #cca02f;
  --color-gold-600: #b08123;
  --color-gold-700: #8c5f1c;
  --color-gold-800: #714b1c;
  --color-gold-900: #5e3d1b;
  --color-gold-950: #36200d;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
